<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Duquesne Incline - Gift Shop</title>

  <link rel="stylesheet" href="../static/style.css" >
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body>

  <header>
    <div class="banner">
      <img src="../static/bannerImg.png" alt="Duquesne Incline Banner">
    </div>
    <nav>
      <div class="logo">
        <img src="../static/LogoImg.webp" alt="Logo">
      </div>
      <ul class="nav-links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="hoursNtours.html">Hours & Tours</a></li>
        <li><a href="gifts.html" class="active">Gift Shop</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <div class="nav-spacer"></div>
    </nav>
  </header>




  <main>
    <section class="gift-section">
      <h1>Come Visit Our Gift Shop</h1>

      <div class="gift-items">
        <div class="gift-item">
          <img src="../static/shotGlasses.jpg" alt="Shot Glasses">
          <p>Shot Glasses</p>
        </div>
        <div class="gift-item">
          <img src="../static/woodCar.jpg" alt="Handmade Incline Wooden Ornament">
          <p>Handmade Incline Wooden Ornament</p>
        </div>
        <div class="gift-item">
          <img src="../static/fireGift.jpg" alt="Wendell August Forge Metal Plates">
          <p>Wendell August Forge Metal Plates</p>
        </div>
      </div>


      <section class="find-us">
        <h2>Find Us</h2>
        <p>
          1197 West Carson Street, Pittsburgh, PA 15219<br>
          Phone: 412.381.1665<br>
          Fax: 412.381.1943<br>
          Email: <a href="mailto:duq.incline@duquesneincline.org">duq.incline@duquesneincline.org</a>
        </p>
        <p>________</p>
        <a href="hoursNtours.html" class="btn">Where</a>
      </section>
    </section>
  </main>
  
  
  

  <footer>
    <div class="footer-container">
      <div class="footer-top">
        <ul class="footer-links">
          <li><a href="about.html">About</a></li>
          <li><a href="hoursNtours.html">Hours & Tours</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="../static/ImagesCite.pdf">Citations for Images</a></li>
        </ul>
        <div class="footer-right">
          <p>Duquesne Incline</p>
        </div>
      </div>
      
      <div class="footer-line"></div>
      
      <div class="footer-bottom">
        <p>&copy; 2025 Duquesne Incline. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <script src="../static/script.js"></script>


</body>
</html>
