<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Duquesne Incline - Tours</title>
  <link rel="stylesheet" href="../static/style.css">
  <!-- Load jQuery for any carousel functionality if needed later -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="banner">
      <img src="https://i.imghippo.com/files/gSYx7156xE.png" alt="Duquesne Incline Banner">
    </div>
    <nav>
      <div class="logo">
        <img src="https://i.imghippo.com/files/TwE8934ul.png" alt="Logo">
      </div>
      <ul class="nav-links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="hours.html">Hours</a></li>
        <li><a href="tours.html" class="active">Tours</a></li>
        <li><a href="gifts.html">Gift Shop</a></li>
        <li><a href="contact.html">Contact</a></li>
        
      </ul>
      <div class="nav-spacer"></div>
    </nav>
  </header>

  <main>
    <h1>Tours & Programs</h1>

    
    <!-- Section 2: Field Trip Program -->
    <section class="field-trip-program">
        <h2>Field Trip Program for Students &amp; Youth Groups</h2>
        <p>
          A free field trip program is available for students and youth groups of ten or more daily – except Saturdays and Sundays after 12:00 noon due to weekend crowds and limited space.
        </p>
        <ul>
          <li>A teacher's lesson packet for students' specific grade level</li>
          <li>A round trip ride on the Duquesne Incline</li>
          <li>A history of inclines in Pittsburgh</li>
          <li>A discussion about Pittsburgh's industrial past</li>
          <li>A visit to the machine room to observe the original hoisting equipment in operation and learn about the engineers who built it</li>
          <li>A panoramic view of Downtown Pittsburgh and The North Shore from our observation deck 400 feet above the three rivers</li>
          <li>A brief history of the French and Indian War from which the city arose</li>
        </ul>
      </section>

      <section class="tours-and-activities">
        <h2>CITY TOURS THAT FEATURE THE DUQUESNE INCLINE</h2>
        <table class="tours-table">
          <thead>
            <tr>
              <th>Company</th>
              <th>Website</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pittsburgh Tours and More</td>
              <td><a href="http://www.pghtoursandmore.net" target="_blank">www.pghtoursandmore.net</a></td>
              <td>412-323-4707</td>
            </tr>
            <tr>
              <td>Molly's Trolleys</td>
              <td><a href="http://www.mollystrolleyspgh.com" target="_blank">www.mollystrolleyspgh.com</a></td>
              <td>412-281-2055</td>
            </tr>
            <tr>
              <td>Rivers of Steel</td>
              <td><a href="http://www.riversofsteel.com" target="_blank">www.riversofsteel.com</a></td>
              <td>412-464-4020 or 412-381-8687</td>
            </tr>
            <tr>
              <td>The Pittsburgh Tour Company</td>
              <td><a href="http://www.pghtours.com" target="_blank">www.pghtours.com</a></td>
              <td>412-381-8687</td>
            </tr>
          </tbody>
        </table>
      
        <h2>THINGS TO DO AFTER INCLINE VISIT</h2>
        <table class="activities-table">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <!-- Dining and Restaurants -->
            <tr>
              <td>Dining on Grandview Avenue</td>
              <td>Within Walking Distance of our Upper Station</td>
            </tr>
            <tr>
              <td>Steel Mill Saloon</td>
              <td><a href="https://w.steelmillsaloon.com/" target="_blank">www.steelmillsaloon.com</a><br>412-586-4926</td>
            </tr>
            <tr>
              <td>Coal Hill Steak House (Grandview Saloon)</td>
              <td><a href="http://www.thegrandviewsaloon.com/" target="_blank">www.thegrandviewsaloon.com</a><br>412-431-1400</td>
            </tr>
            <tr>
              <td>LeMont Restaurant</td>
              <td><a href="http://www.lemontpittsburgh.com" target="_blank">www.lemontpittsburgh.com</a><br>412-431-3100</td>
            </tr>
            <tr>
              <td>Monterey Bay Fish Grotto</td>
              <td><a href="http://www.montereybayfishgrotto.com" target="_blank">www.montereybayfishgrotto.com</a><br>412-381-1919</td>
            </tr>
            <!-- Station Square and Nearby -->
            <tr>
              <td>Station Square</td>
              <td>Less than one mile east of our Lower Station</td>
            </tr>
            <tr>
              <td>Sheraton Pittsburgh Hotel at Station Square</td>
              <td><a href="http://www.sheraton.com/stationsquare" target="_blank">www.sheraton.com/stationsquare</a><br>412-261-2000</td>
            </tr>
            <tr>
              <td>Hard Rock Cafe</td>
              <td><a href="http://www.hardrock.com/pittsburgh" target="_blank">www.hardrock.com/pittsburgh</a><br>412-481-7625</td>
            </tr>
            <tr>
              <td>Buca Di Beppo (Italian Cuisine)</td>
              <td><a href="http://www.bucadibeppo.com" target="_blank">www.bucadibeppo.com</a><br>412-471-9463</td>
            </tr>
            <tr>
              <td>Gateway Clipper Fleet</td>
              <td><a href="http://www.gatewayclipper.com" target="_blank">www.gatewayclipper.com</a><br>412-355-7993</td>
            </tr>
            <tr>
              <td>Molly's Trolleys (Charter Customized Sightseeing Tour)</td>
              <td><a href="http://www.mollystrolleyspittsburgh.com" target="_blank">www.mollystrolleyspittsburgh.com</a><br>412-281-2085</td>
            </tr>
            <tr>
              <td>Grand Concourse</td>
              <td><a href="http://www.opentable.com/grand-concourse" target="_blank">www.opentable.com/grand-concourse</a><br>412-261-1717</td>
            </tr>
            <tr>
              <td>Segway in Paradise</td>
              <td><a href="https://segwaypittsburgh.com/" target="_blank">segwaypittsburgh.com</a><br>412-337-3941</td>
            </tr>
            <!-- North Shore and Attractions -->
            <tr>
              <td>North Shore</td>
              <td>Just across the West End Bridge from our Lower Station (less than 5 minutes)</td>
            </tr>
            <tr>
              <td>Rivers Casino Pittsburgh</td>
              <td><a href="http://www.theriverscasino.com" target="_blank">www.theriverscasino.com</a><br>412-231-7777</td>
            </tr>
            <tr>
              <td>Heinz Field</td>
              <td>Home to the Steelers and Pitt Panthers<br>412-323-1200</td>
            </tr>
            <tr>
              <td>PNC Park</td>
              <td><a href="http://www.pittsburghpirates.com" target="_blank">www.pittsburghpirates.com</a><br>412-321-BUCS</td>
            </tr>
            <tr>
              <td>Carnegie Science Center/Highmark Sports Works</td>
              <td><a href="http://www.carnegiesciencecenter.org" target="_blank">www.carnegiesciencecenter.org</a><br>412-237-3336</td>
            </tr>
            <tr>
              <td>RiverQuest</td>
              <td><a href="http://www.riverquest.com" target="_blank">www.riverquest.com</a><br>412-231-2712</td>
            </tr>
            <tr>
              <td>Kayak Pittsburgh</td>
              <td><a href="http://www.kayakpittsburgh.org" target="_blank">www.kayakpittsburgh.org</a><br>412-969-9090</td>
            </tr>
            <!-- Museums and Cultural Attractions -->
            <tr>
              <td>Children's Museum</td>
              <td><a href="http://www.pittsburghkids.org" target="_blank">www.pittsburghkids.org</a><br>412-322-5058</td>
            </tr>
            <tr>
              <td>National Aviary</td>
              <td><a href="http://www.nationaviary.org" target="_blank">www.nationaviary.org</a><br>412-323-7235</td>
            </tr>
            <tr>
              <td>Andy Warhol Museum</td>
              <td><a href="http://www.warhol.org" target="_blank">www.warhol.org</a><br>412-237-8300</td>
            </tr>
            <tr>
              <td>Mattress Factory Art Museum</td>
              <td><a href="http://www.mattress.org" target="_blank">www.mattress.org</a><br>412-231-3169</td>
            </tr>
            <!-- Downtown Attractions -->
            <tr>
              <td>Market Square</td>
              <td><a href="http://www.downtownpittsburgh.com/market-square" target="_blank">www.downtownpittsburgh.com/market-square</a></td>
            </tr>
            <tr>
              <td>Golden Triangle Bike Rental</td>
              <td>
                Take a ride on the 26 miles of scenic riverfront trail. Bring your bike to the Duquesne Incline and ride up to Grandview Avenue for a dramatic view.<br>
                <a href="http://www.bikepittsburgh.com" target="_blank">www.bikepittsburgh.com</a><br>
                412-600-0675
              </td>
            </tr>
            <tr>
              <td>Fort Pitt Museum + Blockhouse</td>
              <td>
                <a href="http://www.pittsburgh.about.com/od/discover_history/p/fort_pitt_museum.htm" target="_blank">www.pittsburgh.about.com/od/discover_history/p/fort_pitt_museum.htm</a><br>
                412-454-6000 or 412-281-9284
              </td>
            </tr>
            <tr>
              <td>David L. Lawrence Convention Center</td>
              <td>
                <a href="http://www.pittsburghcc.com/cc/" target="_blank">www.pittsburghcc.com/cc/</a><br>
                412-565-6000
              </td>
            </tr>
            <tr>
              <td>Benedum Center</td>
              <td>
                <a href="http://www.pgharts.org/visit/facilities/benedum/" target="_blank">www.pgharts.org/visit/facilities/benedum/</a><br>
                412-456-6666
              </td>
            </tr>
            <tr>
              <td>Byham Theater</td>
              <td>
                <a href="http://www.culturaldistrict.org/venues/byham-theater" target="_blank">www.culturaldistrict.org/venues/byham-theater</a><br>
                412-456-6666
              </td>
            </tr>
            <tr>
              <td>PPG Paints Arena</td>
              <td>
                <a href="https://www.ppgpaintsarena.com/" target="_blank">www.ppgpaintsarena.com/</a><br>
                412-642-1800
              </td>
            </tr>
            <tr>
              <td>Heinz Hall</td>
              <td>
                <a href="http://www.pittsburghsymphony.org/pghsymph.nsf/home+page/home+page" target="_blank">www.pittsburghsymphony.org</a><br>
                412-392-4900
              </td>
            </tr>
            <tr>
              <td>Senator John Heinz History Center</td>
              <td>
                <a href="http://www.heinzhistorycenter.org/" target="_blank">www.heinzhistorycenter.org/</a><br>
                412-454-6000
              </td>
            </tr>
            <!-- Sites of Interest -->
            <tr>
              <td>Visit Pittsburgh</td>
              <td>
                <a href="http://www.visitpittsburgh.com" target="_blank">www.visitpittsburgh.com</a><br>
                800-359-0758
              </td>
            </tr>
            <tr>
              <td>Popular Pittsburgh</td>
              <td>
                <a href="http://www.popularpittsburgh.com" target="_blank">www.popularpittsburgh.com</a><br>
                800-231-4788
              </td>
            </tr>
          </tbody>
        </table>
      </section>



    
  </main>

  <footer>
    <div class="footer-container">
      <div class="footer-top">
        <ul class="footer-links">
          <li><a href="about.html">About</a></li>
          <li><a href="hours.html">Hours & Tours</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="footer-right">
          <p>Duquesne Incline</p>
        </div>
      </div>
      <div class="footer-line"></div>
      <div class="footer-bottom">
        <p>&copy; 2025 Duquesne Incline. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
  <script src="static/script.js"></script>
</body>
</html>
